@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

* {
  box-sizing: border-box;
}

/* hero */
.hero-container {
  padding-top: 5px;
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  min-width: 500px;
}

/* hero resume button */
.button {
  position: relative;
  width: 150px;
  height: 40px;
  cursor: pointer;
  display: flex;
  align-items: center;
  border: 1px solid #4682a9;
  background-color: #164b60;
  overflow: hidden;
}

.button,
.button__icon,
.button__text {
  transition: all 0.3s;
}

.button .button__text {
  transform: translateX(22px);
  color: #fff;
  font-weight: 600;
}

.button .button__icon {
  position: absolute;
  transform: translateX(109px);
  height: 100%;
  width: 39px;
  background-color: #4682a9;
  display: flex;
  align-items: center;
  justify-content: center;
}

.button .svg {
  width: 20px;
  fill: #fff;
}

.button:hover {
  background: #1d5d9b;
}

.button:hover .button__text {
  color: transparent;
}

.button:hover .button__icon {
  width: 148px;
  transform: translateX(0);
}

.button:active .button__icon {
  background-color: #146c54;
}

.button:active {
  border: 1px solid #146c54;
}

.subtitle-p {
  font-size: 1rem;
  text-align: left;
  margin-top: 5;
  line-height: 1.5rem;
  padding: 2rem;
  display: block;
}

.subtitle {
  font-size: 0.9rem;
  text-align: left;
  margin-top: 5;
  line-height: 1.5rem;
}

.default-style {
  @apply top-0  px-20 py-2 font-medium flex items-center justify-between z-0 text-[#575200];
}

.scrolled-style {
  @apply text-[#ffffff] sticky top-0  px-20 py-1 font-medium flex items-center justify-between bg-[#575200] z-10;
}
